/* место для вашего кода */

.content_section {
  min-height: 100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  padding-top: 133px;
  padding-bottom: 139px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header_logo {
  display: block;
  width: 135px;
  height: 109px;
  justify-self: center;
}

.header_contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-self: end;
  align-items: flex-start;
  gap: 4px;
  padding: 95px 39px 101px 0;
  font-size: 18px;

  font-weight: 400;
  font-style: normal;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover; /*? 100% auto - высота, определяется автоматически, в зависимости от пропорцый изображения /горизонталь вертикаль */
  background-repeat: no-repeat;
  background-position: center; /*? right centr /горизонталь вертикаль */
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  font-size: 100px;
  /*font-weight: 700;*/
  line-height: 1, 15;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: start;
  font-weight: 700;
  padding: 165px 0 17px 50px;
}

.aligned-text_center {
  text-align: center;
  font-weight: 700;
  padding: 0 0 17px 35px;
}

.connected-two-elements {
  display: flex;
  font-weight: 700;
  justify-content: end;
  padding-right: 50px;
  padding-bottom: 117px;
}

.aligned-text_right {
  font-weight: 700;
}

.aligned-letter-O {
  padding-right: 50px;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 19px;
  padding-left: 50px;
}

.bet-button {
  background: none;
  border: none;
  outline: 1px solid #fff;
  outline-offset: 11px;
  padding-left: 22px;
  padding-right: 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}

.lots {
  margin: 0 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 180px 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 100px;
}

.card-link {
  width: 100%;
  text-decoration-color: white;
  text-decoration: none;
}

.card__first {
  position: relative;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  z-index: -1;
}

.card__second {
  position: relative;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  z-index: -1;
}

.card__third {
  position: relative;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  z-index: -1;
}

.card__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.card__container {
  display: flex;
  flex-direction: column;
  min-height: 596px;
  justify-content: space-between;
  padding: 0 40px;
}

.card__title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 48px;
  line-height: 120%;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 0px 0px 40px;
  text-transform: lowercase;
  text-underline-offset: 2px;
}

.about {
  margin-top: 120px;
  margin-bottom: 181px;
  margin-left: 24px;
  margin-right: 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 18px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  row-gap: 20px;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 103px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
  align-items: start;
}

.footer__menu {
  justify-content: center;
}

.footer__address {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.footer__flex {
  display: flex;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
}

.footer__menu-list-item {
  list-style: none;
  font-size: 18px;
}

.footer__social-link {
  display: inline-block;
}

.footer__social-list-item {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 0 50px 131px 0;
}

.footer__social-icon {
  width: 48px;
}
